[submodule "frontend"]
    path = frontend
    url = https://github.com/Rajan21252125/frontend-repo.git
[submodule "backend"]
    path = backend
    url = https://github.com/Rajan21252125/backend-repo.g